/* body {
  overflow: hidden;
} */

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
/* @media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
} */

.custom-border {
  border: 2px solid red;
  /* height: 100%; */
}

.main-custom-height {
  height: 90%;
  /* border: 2px solid red; */
}

.footer-custom-height {
  /* height: 10%; */
  /* border: 2px solid red; */
}

@media (min-width: 992px) {
  .custom-section-height {
    height: 100vh;
  }
}
